table.kanban {
  width: 100%;
  border-collapse:collapse;
  margin: 0 0 1em;
}

table.kanban caption {
  padding: 0.5em;
  background-color: #DDD;
  font-family: "Trebuchet MS",Verdana,sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #FFF;
}

table.kanban th.closed_status {
  cursor: pointer;
}

table.kanban th,
table.kanban td {
  margin: 0;
  padding: .5em 0;
  border: 1px solid #DDD;
}

table.kanban th {
  background-color: #DDD;
}

table.kanban th.category {
  padding: 0.5em;
  color: #0C476B;
  font: bold 110% "Trebuchet MS", Verdana, sans-serif;
}

table.kanban td {
  vertical-align:top;
  overflow: auto;
}

table.kanban .container {
  position: relative;
}

.kanban_card {
  position: relative;
  min-height: 8em;
  margin: .5em .5em;
  padding: 0;
  background: #fff;
  border: 1px solid #3E5B76;
  overflow: hidden;
}

.category_row .kanban_card {
  display: inline-block;
  width: 14%;
  width: calc(14.2857% - .75em);
  margin-right: -.26em;
  margin-left: .75em;
  vertical-align: top;
}

.kanban_card h4 {
  position: relative;
  padding: .2em .5em;
  border: none;
  font-size: 1em;
  -moz-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  z-index: 1;
}

.kanban_card .header {
  padding: .2em .5em;
  color:  white;
/*  background-color: #628DB6;*/
}

.tracker-Задача {
  background: blue;
}

.tracker-Дефект {
  background: red;
}

.tracker-Подобрение {
  background: green;
}

.tracker-Поддръжка {
  background: #628DB6;
}

.kanban_card .header a {
  color:  white;
}

.kanban_card .header .issue_priority {
  text-align: left;
}

.kanban_card .header .issue_id {
  float: right;
  text-align: right;
}

.kanban .only_recently_closed_issues {
  text-align: center;
  color: #999;
  background-color: #FFF;
}

.issue_status_id {
  visibility: hidden;
}

.clearfix { clear: both }

.kanban_card .gravatar {
  padding: 0;
  margin:  0;
  border:  0;

  width:         32px;
  height:        32px;
  border-radius: 50%;

  position: absolute;
  bottom: 1px;
  right:  1px;
  z-index: 1;
}

.kanban_card a {
  text-decoration: none;
}

.ui-draggable-dragging {
  z-index: 2;
/*  position: absolute !important;*/
}

/*
 * Responsive magic
 * Layout cards two or three in a row depending on the number of status
 * columns and screen width
 */

@media all and (min-width: 1200px) {

  table.kanban td:first-child:nth-last-child(2) .kanban_card, table.kanban td:first-child:nth-last-child(2) ~ td .kanban_card,
  table.kanban td:first-child:nth-last-child(3) .kanban_card, table.kanban td:first-child:nth-last-child(3) ~ td .kanban_card,
  table.kanban td:first-child:nth-last-child(4) .kanban_card, table.kanban td:first-child:nth-last-child(4) ~ td .kanban_card,
  table.kanban td:first-child:nth-last-child(5) .kanban_card, table.kanban td:first-child:nth-last-child(5) ~ td .kanban_card {
    display: inline-block;
    width: 46%;
    width: calc(50% - .75em);
    margin-right: -.26em;
    margin-left: .5em;
    vertical-align: top;
  }

  table.kanban td:first-child:nth-last-child(2) .kanban_card, table.kanban td:first-child:nth-last-child(2) ~ td .kanban_card,
  table.kanban td:first-child:nth-last-child(3) .kanban_card, table.kanban td:first-child:nth-last-child(3) ~ td .kanban_card {
    width: calc(33% - .6667em);
  }

}

@media all and (min-width: 1400px) {

  table.kanban td:first-child:nth-last-child(6) .kanban_card, table.kanban td:first-child:nth-last-child(6) ~ td .kanban_card,
  table.kanban td:first-child:nth-last-child(7) .kanban_card, table.kanban td:first-child:nth-last-child(7) ~ td .kanban_card {
    display: inline-block;
    width: 46%;
    width: calc(50% - .75em);
    margin-right: -.26em;
    margin-left: .5em;
    vertical-align: top;
  }

  table.kanban td:first-child:nth-last-child(4) .kanban_card, table.kanban td:first-child:nth-last-child(4) ~ td .kanban_card,
  table.kanban td:first-child:nth-last-child(5) .kanban_card, table.kanban td:first-child:nth-last-child(5) ~ td .kanban_card {
    width: calc(33% - .6667em);
  }

}
